<!DOCTYPE html>
<html lang="fr">
    <head >
        {% block title %}
        <title> Bibliotheque locale </title>
        {% endblock %}
        <meta charset= " utf-8 ">
        <meta name= " viewport "
        content= " width=device-width content= " width=device-width ,
        initial-scale=1 ">
        <!-- On ajoute un fichier CSS depuis les static -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %} " >
    </head>
    <body>
        {% block menu %}
        <h1> R&T Dev</h1>
            {% block sidebar %}
                <h2> Menu</h2>
                <ul id="menu">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'machines' %}">Machines</a></li>
                    <li><a href="{% url 'persos' %}">Personnel</a></li>
                </ul>
            {% endblock %}
        {% endblock %}

        <!-- On ajoute image ici depuis les statics -->
{% load static %}
<img src= "{% static 'computerapp/images/POITIERS_UNIVERSITE_LOGO2011.jpg' %} "
alt= " logo " style= "width:200px;height:200px;">


        {% block content %}
            Blabla de la premiere page
        {% endblock %}

    </body>
</html>